{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        ["module-resolver", {
          "root": ["./"],
            "alias": {
              "@view": "./src/view",
              "@redux": "./src/redux",
              "@assets": "./src/assets",
            }
          }]
    ]
}