{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
              "test": "./test",
              "underscore": "lodash",
              "assets": "./src/assets",
              "view": "./src/view"
            }
          }]
    ]
}